<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mercado Liebre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="row">
               
                 <img class="logo" src="/images/logo-mercado-liebre.svg">
                
          
                <form class="buscar" action="#" method="GET">
                    <input  type="search" placeholder="Buscar productos, marcas" name="search">
                    <i class="fa fa-search"></i>
                </form>
                <div class="cuotas">                  
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div> 
           
            </div>
            <nav>
               
                <ul>                  
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas Oficiales</a></li>
                    <li><a href="/">Vender </a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register"> tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li> 
                </ul>                
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            
        </header>
        <img class="banner" src="/images/img-home-banner.jpg">
        <main class="register-main">
            <section>
                <h2 class="main-section-title">Creá tu cuenta</h1>
                <form action="/" method="GET" class="create-account-form">
                    <div class="form-div name-div">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" placeholder="Nombre" class="form-input names-input" required>
                    </div>
                    <div class="form-div name-div">
                        <label for="last-name">Apellido</label>
                        <input type="text" id="last-name" name="last-name" placeholder="Apellido" class="form-input names-input" required>
                    </div>
                    <div class="form-div">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" placeholder="Nombre de usuari@" class="form-input" required>
                    </div>
                    <div class="form-div">
                        <label for="birthday" >Fecha de nacimiento</label>
                        <input type="date" id="birthday" name="birthday" class="form-input" required>
                    </div>
                    <div class="form-div">
                        <label for="home">Domicilio</label>
                        <input type="text" id="home" name="home" placeholder="Domicilio" class="form-input" required>
                    </div>
                    <div class="form-div">
                        <label class="label-title">Perfil de usuario</label>
                        <div class="user-profile-option">
                            <input type="radio" id="comprador" name="user-profile" value="Comprador">
                            <label for="comprador">Comprador</label>
                        </div>
                        <div class="user-profile-option">
                            <input type="radio" id="vendedor" name="user-profile" value="Vendedor">
                            <label for="vendedor">Vendedor</label>
                        </div>
                    </div>
                    <div class="form-div">
                            <label class="label-title">Categorías de interés</label>
                        <div class="interest-category-option">
                            <input type="checkbox" id="electro" name="interest-category" value="electro">
                            <label for="electro">Electro</label>
                        </div>
                        <div class="interest-category-option">
                            <input type="checkbox" id="moda" name="interest-category" value="moda">
                            <label for="moda">Moda</label>
                        </div>
                        <div class="interest-category-option">
                            <input type="checkbox" id="hogar" name="interest-category" value="hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div class="interest-category-option">
                            <input type="checkbox" id="jugueteria" name="interest-category" value="jugueteria">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        <div class="interest-category-option">
                            <input type="checkbox" id="vida-sana" name="interest-category" value="vida-sana">
                            <label for="vida-sana">Vida sana</label>
                        </div>
                    </div>
                    <div class="form-div">
                        <label for="user-photo" class="label-title">Foto de usuario</label>
                        <input type="file" id="user-photo" name="user-photo" class="form-input">
                    </div>
                    <div class="form-div">
                        <label for="password" class="label-title">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-input" required>
                    </div>
                    <div class="form-div">
                        <label for="confirm-password" class="label-title">Confirmar contraseña</label>
                        <input type="password" id="confirm-password" name="password-confirmed" class="form-input" required>
                    </div>
                    <button type="submit" class="button-form">Enviar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </form>
            </section>
        </main>
        <footer>
            <section>    
                <article  class="pie">          
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article  class="pie">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article  class="pie">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de princitio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </article>
            </section>
            
                    <!-- alt + 184 para el simbolo de copyright -->
                    <h5 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</h5>                
           
        </footer>
    </body>
</html>